@charset "utf-8";

/* Font-Family */
@font-face {font-family: 'pretendard'; src: url(../font/Pretendard-Light.woff2) format("woff2"); font-weight: 300;}
@font-face {font-family: 'pretendard'; src: url(../font/Pretendard-Regular.woff2) format("woff2"); font-weight: 400;}
@font-face {font-family: 'pretendard'; src: url(../font/Pretendard-Medium.woff2) format("woff2"); font-weight: 500;}
@font-face {font-family: 'pretendard'; src: url(../font/Pretendard-SemiBold.woff2) format("woff2"); font-weight: 600;}
@font-face {font-family: 'pretendard'; src: url(../font/Pretendard-Bold.woff2) format("woff2"); font-weight: 700;}
@font-face {font-family: 'pretendard'; src: url(../font/Pretendard-ExtraBold.woff2) format("woff2"); font-weight: 800;}

/* Animation */
@keyframes visual_translateY {
  0% {transform: translate3d(0, 0, 0);} 
  100%  {transform: translate3d(0, 15px, 0);}
}
@keyframes visual_rotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@keyframes ani_ltr {
  0% {opacity: 0; visibility: hidden; transform: translate3d(-50px, 0, 0);}
  100% {opacity: 1; visibility: visible; transform: translate3d(0, 0, 0);}
}

@keyframes ani_rtl {
  0% {opacity: 0; transform: translate3d(50px, 0, 0);}
  100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

@keyframes ani_btt_mg {
  0% {opacity: 0; margin-top: 50px;}
  100% {opacity: 1; margin-top: 0px;}
}

@keyframes ani_btt_translateY {
  0% {opacity: 0; transform: translate3d(0, 50px, 0);}
  100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

@keyframes ani_btt_translateY_minus_50p {
  0% {opacity: 0; transform: translate3d(0, -30%, 0);}
  100% {opacity: 1; transform: translate3d(0, -50%, 0);}
}

@keyframes ani_fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.ani_ltr {animation: ani_ltr 1s forwards;}
.ani_rtl {animation: ani_rtl 1s forwards;}
.ani_btt_mg {animation: ani_btt_mg 1s forwards;}
.ani_btt_translateY {animation: ani_btt_translateY 1s forwards;}
.ani_btt_translateY_minus_50p {animation: ani_btt_translateY_minus_50p 1s forwards;}
.ani_fadein {animation: ani_fadein 1s forwards;}

/* Common */
.x_hidden, .x_hidden body { overflow-x: hidden; max-width: 100%;}
html {font-family: 'pretendard'; font-size: 16px;}
html::-webkit-scrollbar {width: 12px;}
html::-webkit-scrollbar-track {background: #eeeeee; border-radius: 5px;}
html::-webkit-scrollbar-thumb {background:  #535B64; border-radius: 5px;}
body {-webkit-font-smoothing: antialiased; color: #2e2c2c;}
.not_scroll {width: 100%; height: 100vh; overflow: hidden; touch-action: none;}
.wrap {padding-top: 60px;}
.section {position: relative;}
.section:not(.main, .slogan) {display: flex; align-items: center;}
#section_2, #section_5 {background-color: #f6f7f8;}
.section_tit {margin-bottom: 80px;}

.cnt_wrap {width: 100%; max-width: 1400px; padding: 0 20px; margin: 0 auto;}
.cnt {max-width: 1200px; margin: 0 auto;}
.section_tit {max-width: 1400px; font-size: 36px; font-weight: 600; position: relative; padding-left: 32px; word-break: keep-all;}
.section_tit::before {content: ''; width: 12px; height: 100%; position: absolute; left: 0; top: 0; background-color: #000;}
.dot {color: #FF5353; }
.sticky_elem { position: fixed; left: 0; right: 0; display: none;}


/* header */
.header {position: fixed; top: 0; left: 0; right: 0; background-color: #535B64; z-index: 25;}
.header .header_inner {display: flex; align-items: center; height: 60px;}
.header .header_inner .header_logo {font-size: 0; width: 100px; margin-right: auto;}
.header .header_inner .nav {position: relative; transition: .25s;}
.header .header_inner .nav_dot {width: 6px; height: 6px; border-radius: 50%; background-color: #FF5353; position: absolute; left: 0; top: 0; transition: .35s;}
.header .header_inner .gnb_list {display: flex; align-items: center;}
.header .header_inner .gnb_list .gnb + .gnb {margin-left: 40px;}
.header .header_inner .gnb_list .gnb a { font-size: 18px; font-weight: 600; color: #fff; padding: 5px; margin: -5px;}
.header .header_inner .check_area {position: relative; padding: 10px; margin: -10px; cursor: pointer;}
.header .header_inner .btn_hamburger {position: relative; display: none; width: 28px; height: 18px;}

#show_scene_0 #section_0 .visual_bg {will-change: transform;}

/* section_0 */ 
.visual_human, .visual_circle_green, .visual_circle_blue, .visual_circle_purple, .visual_cross, .visual_cross_medium, .visual_cross_medium02, .visual_cross_small {position: absolute;}
#section_0 .main_inner {position: relative; height: calc(100vh - 60px); display: flex; justify-content: center; align-items: center;}
#section_0 .main_inner .visual_wrap {flex: 1;}
#section_0 .main_inner .visual_tit {font-size: 4rem; position: relative; z-index: 1; opacity: 0; animation: ani_ltr 1s 0.5s forwards;}
#section_0 .main_inner .visual_tit p {font-weight: 300;}
#section_0 .main_inner .visual_tit strong {font-weight: 800;}
#section_0 .main_inner .visual_img {text-align: right;}
#section_0 .main_inner .visual_img_inner {position: relative; display: inline-block; animation: ani_rtl 1s forwards;}
#section_0 .main_inner .visual_bg {position: relative;}
#section_0 .main_inner .visual_human {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;}
#section_0 .main_inner .visual_circle_blue {bottom: 24%; left: -5%; animation: visual_translateY 2.5s infinite alternate; width: 14%;}
#section_0 .main_inner .visual_circle_purple {bottom: 8%; right: 4%; animation: visual_translateY 2s infinite alternate; animation-delay: 0.5s; width: 12%;}
#section_0 .main_inner .visual_circle_green {top: 24%; right: 2%; animation: visual_translateY 1.5s infinite alternate; width: 7%;}
#section_0 .main_inner .visual_cross {bottom: 40%; left: -24%; animation: visual_rotate 10s infinite; width: 11%;}
#section_0 .main_inner .visual_cross_medium {top: 28%; left: 0; animation: visual_rotate 5s linear infinite; width: 3%;}
#section_0 .main_inner .visual_cross_medium02 {top: -8%; right: 8%; animation: visual_rotate 5s infinite; width: 3%;}
#section_0 .main_inner .visual_cross_small {top: 24%; left: 8%; animation: visual_rotate 3s infinite; width: 2%;}


/* section_1 */ 
#section_1 .slogan_inner .sticky_elem {opacity: 0; text-align: center; top: 45vh;}
#section_1 .slogan_inner .sticky_elem p {font-size: 4rem; font-weight: bold;}
#section_1 .slogan_inner .sticky_elem .dot {color: #FF5353; display: inline-block;}
#show_scene_1 #section_1 .sticky_elem {display: block;}


/* section_2 */
#section_2 .section_tit {margin-bottom: 0;}
#section_2 .about_inner .about_intro {display: flex; align-items: center; justify-content: space-between;}
#section_2 .about_inner .about_desc {width: 45%; word-break: keep-all;}
#section_2 .about_inner .about_desc .about_desc_tit {font-size: 48px; margin-bottom: 52px; opacity: 0;}
#section_2 .about_inner .about_desc .about_desc_txt {color: #8a8a8a; font-size: 24px; opacity: 0;}
#section_2 .about_inner .about_desc .about_desc_txt + .about_desc_txt  {margin-top: 32px;}
#section_2 .about_inner .about_desc .about_desc_txt strong {color: #000;}
#section_2 .about_inner .about_mockup {display: flex; align-items: center; justify-content: center; width: 55%; height: 732px;
margin: 0 auto; position: relative;}
#section_2 .about_inner .about_mockup img {position: absolute; top: 50%; opacity: 0;}
/* 목업 이미지 수정해주면 다시 작업 */
.about_mockup_img.a {z-index: 2;}
.about_mockup_img.b, .about_mockup_img.c {z-index: 1;}
.about_mockup_img.b {left: 0%;}
.about_mockup_img.c {right: 0;}


/* section_3 */
#section_3 .section_tit {position: sticky; position: -webkit-sticky; top: 140px; margin-bottom: 0;}
#section_3 .history_inner {display: flex; justify-content: space-between;}
#section_3 .history_inner .sticky_area {position: relative;}
#section_3 .history_intro .vertical_line {width: 1px; height: 98%; background-color: #cecece; position: absolute; top: 16px; left: 138px;}
#section_3 .history_intro {position: relative;}
#section_3 .history_intro_list li {display: flex; position: relative; opacity: 0;}
#section_3 .history_intro_list li + li {margin-top: 80px;}
#section_3 .history_intro_list .history_intro_year {margin-right: 78px; position: relative; font-weight: 600; font-size: 26px;}
#section_3 .history_intro_list .history_intro_year::before {content: ''; width: 13px; height: 13px; position: absolute; top: 14px; background-color: #424247; border-radius: 50%; left: 132px;}
#section_3 .history_intro_list .history_intro_year.current::before {background-color: #ff5353;}
#section_3 .history_intro_list .history_intro_year.current::after {content: ''; width: 36px; height: 36px; border-radius: 50%; position: absolute; background-color: #FF5353; top: 3px; left: 120px; opacity: 0.2;}
#section_3 .history_intro_desc {margin-left: 78px;}
#section_3 .history_intro_desc p {font-size: 24px;}
#section_3 .history_intro_desc .accent {font-weight: bold;}
#section_3 .history_intro_desc p + p {margin-top: 24px;}


/* section_4 */
#section_4 .notice_list li {padding: 20px 40px; background-color: #f6f7f8; border-radius: 24px; opacity: 0;}
#section_4 .notice_list li + li {margin-top: 16px;}
#section_4 .notice_subject {display: flex; justify-content: space-between; align-items: center;}
#section_4 .notice_subject .notice_tit {font-size: 26px; font-weight: 600;}
#section_4 .notice_subject .notice_tit strong {position: relative; color: #4e5664;}
#section_4 .notice_subject .notice_category {margin-right: 72px; color: #25aaaa;}
#section_4 .notice_info {display: flex; align-items: center;}
#section_4 .notice_info .notice_day {font-size: 24px; color: #8f97a7;}
#section_4 .notice_info .btn_notice_view {margin-left: 72px; font-size: 24px; background-color: #d5d9df; padding: 12px 14px; color: #fff; border-radius: 14px; transition: .35s;}
#section_4 .notice_info .btn_notice_view:hover {background-color: #535b64;}

/* 알림있을때 */
#section_4 .notice_subject.new .notice_tit strong::after {content: 'NEW'; margin-left: 20px; font-size: 23px; color: #ff5a5a;}

/* section_5 */
#section_5 {overflow-x: hidden;}
#section_5 .business_card {opacity: 0; padding: 16px; margin-top: 50px; box-sizing: border-box; position: relative;}
/* #section_5 .business_card_list {opacity: 0;} */
#section_5 .business_card_list li a {display: block; min-height: 514px; padding: 28px 24px; border-radius: 24px; background-color: #fff; color: #3e3e3e; box-shadow: 0 5px 5px rgb(0 0 0 / 10%); transition: .35s;}
#section_5 .business_card_list li a:hover {transform: translate3d(0,-15px,0);}
#section_5 .business_card_list .business_logo {font-size: 0; margin-bottom: 28px; width: 48px;}
#section_5 .business_card_list .business_tit {font-size: 24px;}
#section_5 .business_card_list .business_open_date {color: #949eb2; margin-top: 8px;}
#section_5 .business_card_list .business_txt {line-height: 1.6rem; margin-top: 32px; font-size: 18px;}
#section_5 .business_card_list .business_txt strong {color: #4e5664; font-weight: bold;}
#section_5 .business_card_list .business_txt p {color: #5e656e; margin-top: 12px;}
#section_5 .business_card_btn_wrap {text-align: right; position: relative; margin-top: 68px; padding-bottom: 40px;}
#section_5 .business_partners {margin-top: 240px;}
#section_5 .business_partners .section_tit {text-align: center; padding: 0; opacity: 0;}
#section_5 .business_partners .section_tit::before {content: none;}

/* custom swiper */
#section_5 .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {opacity: 1; pointer-events: all;}
#section_5 .business_card_btn_wrap button {padding: 24px; border-radius: 8px; background-color: #fff; box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08); cursor: pointer; transition: .35s;}
#section_5 .business_card_btn_wrap button:hover {background-color: #535b64;}
#section_5 .business_card_btn_wrap button:hover::after {color: #fff;}
#section_5 .business_card_btn_wrap .swiper-button-prev {right: 80px; left: unset;}
#section_5 .business_card_btn_wrap .swiper-button-next {right: 0;}
#section_5 .business_card_btn_wrap .swiper-button-next:after, .business_card_btn_wrap .swiper-button-prev:after { color: #2e2c2c; font-weight: bold !important; font-size: 20px;}
#section_5 .business_card_btn_wrap .swiper-button-next.swiper-button-disabled, .business_card_btn_wrap .swiper-button-prev.swiper-button-disabled {opacity: 1; pointer-events: all;}
#section_5 .business_partners .swiper-slide {width: auto !important; padding-right: 80px;}
#section_5 .business_partners .swiper-wrapper {-webkit-transition-timing-function : linear; transition-timing-function : linear;}


/* section_6 */
#section_6 .contact_board {opacity: 0;}
#section_6 .contact_box {padding: 32px 50px; background-color: #f6f7f8; border-radius: 24px; }
#section_6 .contact_subject {display: flex; align-items: center; font-size: 26px; font-weight: 600;}
#section_6 .contact_subject .contact_info_tit {color: #8f97a7; width: 9vw; display: inline-block; font-weight: normal;}
#section_6 .contact_subject .contact_info_txt {color: #4e5664; word-break: keep-all;}
#section_6 .contact_subject_list {display: flex; gap: 20px; margin: 12px 0;}
#section_6 .contact_subject_list .contact_box {flex: 1;}
#section_6 #roumit_map {margin-top: 100px; border-radius: 24px; opacity: 0;}


/* footer */
.footer {background-color: #343f55; padding: 42px 0;}
.footer .footer_top {display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px;}
.footer .footer_top .footer_logo {width: 140px;}
.footer .footer_top .sns_list {display: flex; align-items: center;}
.footer .footer_top .sns_list li {opacity: .6; transition: 0.35s;}
.footer .footer_top .sns_list li:hover {opacity: 1;}
.footer .footer_top .sns_list li + li {margin-left: 8px;}
.footer .footer_info {color: #949eb2; font-size: 18px;}
.footer .footer_info .company_info .txt {word-break: keep-all;}
.footer .footer_info .vertical_line {margin: 0 5px;}
.footer .footer_bottom {display: flex; align-items: center; justify-content: space-between; margin-top: 40px;}
.footer .footer_bottom .footer_familysite {display: flex; align-items: center;}
.footer .footer_bottom .footer_familysite strong {margin-right: 40px; font-size: 18px; color: #949eb2;}
.footer .footer_bottom .familysite_list {display: flex; align-items: center; color: #949eb2;}
.footer .footer_bottom .familysite_list li + li {margin-left: 40px;}
.footer .footer_bottom .familysite_list li a {padding: 8px; margin: -8px; font-size: 16px; transition: .35s;}
.footer .footer_bottom .familysite_list li a:hover {opacity: .5;}
.footer .footer_bottom .footer_terms {font-size: 18px; color: #949eb2;}
.footer .footer_bottom .footer_terms button {font-size: inherit; color: inherit; font-weight: 600; transition: .35s;}
.footer .footer_bottom .footer_terms .btn_privacy {color: #fff;}
.footer .footer_bottom .footer_terms button:hover {opacity: 0.5;}
.footer .footer_bottom .footer_terms .vertical_line {margin: 0 6px;}

/* overlay */
.overlay {position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; background-color: rgba(0,0,0,0.7); z-index: 999; opacity: 0; visibility: hidden; transition: .35s;}
.overlay.is_show {opacity: 1; visibility: visible;}
.overlay.is_show .popup{transition: 0.35s;}
.overlay .popup {width: 800px; background-color: #fff; border-radius: 40px; padding: 52px; margin: 20px; color: #4e5664;}
.overlay .popup .btn_close {text-align: right;}
.overlay .popup .btn_close img {cursor: pointer;}
.overlay .popup .popup_tit {font-weight: bold; font-size: 38px; margin-bottom: 52px;}
.overlay .popup .popup_notice {min-height: 40vh; max-height: 52vh; overflow-y: scroll; font-size: 18px;}
.overlay .popup .popup_notice::-webkit-scrollbar {width: 0.31rem;}
.overlay .popup .popup_notice::-webkit-scrollbar-track {background: #eeeeee; border-radius: 0.25rem;}
.overlay .popup .popup_notice::-webkit-scrollbar-thumb {background:  #999999; border-radius: 0.25rem;}
.overlay .popup .popup_notice_inner + .popup_notice_inner {margin-top: 100px;}
.overlay .popup .popup_txt p {font-weight: 500; line-height: 1.7rem;}
.overlay .popup .popup_subject {margin-top: 32px;}
.overlay .popup .popup_subject .popup_txt {margin: 12px 0 0 12px;}
.overlay .popup .popup_subject .popup_txt + .popup_txt {margin-top: 40px;}

/* table */
.notice_table {border: 1px solid #000; text-align: center;}
.notice_table th{border: 1px solid #000; padding: 10px; background-color: #f8f8f8;}
.notice_table td{border: 1px solid #000; padding: 10px;}


/* Media Query */
@media ( max-width : 767px ) {
  #section_3 .history_intro_list li {display: block;}
  #section_3 .history_intro_desc {margin: 0; margin-top: 12px;}
  #section_3 .history_intro_list .history_intro_year::after, #section_3 .history_intro_list .history_intro_year.current::after {content: ''; display: inline-block; position: absolute; top: unset; left: unset; right: 0; bottom: 6px; width: 5px; height: 5px; background-color: #2e2c2c; border-radius: 50%; opacity: 1;}
  .header .header_inner .nav {position: absolute; left: 0; right: 0; top: 0; transform: translate3d(0, -300px, 0); box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);}
  .header .header_inner .gnb_list {display: block;}
  .header .header_inner .gnb_list .gnb a {display: block; padding: 16px 20px; color: #535b64; background-color: #fff;}
  .header .header_inner .gnb_list .gnb + .gnb {margin-left: 0;}
  .header .header_inner .nav_dot {display: none;}
  .header .header_inner .btn_hamburger {display: block;}
  .header .header_inner .btn_hamburger span {position: absolute; left: 0; right: 0; height: 3px; background-color: #fff; border-radius: 5px; transition: .35s;}
  .header .header_inner .btn_hamburger span:nth-child(1) {top: 0;}
  .header .header_inner .btn_hamburger span:nth-child(2) {top: 50%; transform: translateY(-50%);}
  .header .header_inner .btn_hamburger span:nth-child(3) {bottom: 0;}

  /* header - is_active */
  .header .header_inner .nav.is_active {transform: translate3d(0, 60px, 0);}
  .header .header_inner .btn_hamburger.is_active span:nth-child(1) {transform: translateY(-50%) rotate(45deg); top: 50%;}
  .header .header_inner .btn_hamburger.is_active span:nth-child(2) {opacity: 0;}
  .header .header_inner .btn_hamburger.is_active span:nth-child(3) {transform: translateY(-50%) rotate(-45deg); top: 50%;}

  .section_tit {margin-bottom: 3.28125rem; font-size: 2rem;}
  #section_3 .section_tit {margin-bottom: 3.28125rem; font-size: 2rem;}
  .line_change {display: block;}
  #section_0 .main_inner .visual_tit {font-size: 2.5rem;}
  #section_0 .main_inner .visual_img .visual_img_inner {margin-top: 8vh;}
  #section_0 .main_inner .visual_human {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;}
  #section_0 .main_inner .visual_circle_blue, #section_0 .main_inner .visual_circle_purple, #section_0 .main_inner .visual_circle_green, #section_0 .main_inner .visual_cross, #section_0 .main_inner .visual_cross_medium, #section_0 .main_inner .visual_cross_medium02, #section_0 .main_inner .visual_cross_small {animation-play-state: paused;}
  #section_1 .slogan_inner .sticky_elem p {font-size: 2.5rem;}
  #section_2 .about_inner .about_desc .about_desc_tit {font-size: 1.875rem; margin-bottom: 1.5625rem;}
  #section_2 .about_inner .about_desc .about_desc_txt {font-size: 16px; line-height: 1.6rem;}
  #section_3 .history_inner {display: block;}
  #section_3 .history_intro_list {margin: 0 auto;}
  #section_3 .history_intro_list .history_intro_year {position: relative; display: inline-block; margin-bottom: 12px; margin-right: 0; padding-right: 6px;}
  #section_3 .history_intro_desc {margin-top: 4px;}
  #section_3 .history_intro_desc p {font-size: 1.25rem;}
  #section_3 .history_intro .vertical_line {display: none;}
  #section_3 .history_intro_list li + li {margin-top: 60px;}
  #section_3 .history_intro_list .history_intro_year::before {opacity: 0;}
  #section_4 .notice_list li {padding: 20px 28px;}
  #section_4 .notice_subject {display: block;}
  #section_4 .notice_subject .notice_category {display: none;}
  #section_4 .notice_subject .notice_tit strong {font-size: 1.625rem;}
  #section_4 .notice_subject.new .notice_tit strong::after {font-size: 1.25rem;}
  #section_4 .notice_info {display: block;}
  #section_4 .notice_info .notice_day {display: block; font-size: 1.25rem; margin: 4px 0 12px 0;}
  #section_4 .notice_info .btn_notice_view {display: block; margin-left: auto; font-size: 1.25rem;}
  #section_5 .business_partners .swiper-slide img {height: 8.3333vw; max-height: 45px;}
  #section_5 .business_card_btn_wrap button:hover {background-color: #fff;}
  #section_5 .business_card_btn_wrap button:hover::after {color: #2c2c2c;}
  #section_6 .contact_box {padding: 20px 28px;}
  #section_6 .contact_subject {display: block;}
  #section_6 .contact_subject .contact_info_tit {width: 100%; margin-bottom: 10px; font-size: 20px;}
  #section_6 .contact_subject .contact_info_txt {font-size: 1.40625rem;}
  #section_6 .contact_subject_list {display: block;}
  #section_6 .contact_subject_list .contact_box + .contact_box {margin-top: 0.75rem;} 
  #section_6 .roumit_map {margin-top: 20px;}
  .footer .footer_top {display: block;}
  .footer .footer_top .sns_list {margin-top: 12px;}
  .footer .footer_bottom .footer_familysite {display: block;}
  .footer .footer_bottom .familysite_list {display: block; margin-top: 12px;}
  .footer .footer_bottom .familysite_list li + li {margin-left: 0; margin-top: 16px;}
  .notice_table {font-size: 14px;}

  .overlay_gnb {width: 100%; height: 100vh; background-color: rgba(0,0,0,0.7); position: fixed; z-index: 10; opacity: 0; visibility: hidden; transition: .35s; z-index: 11;}
  .overlay_gnb.is_active {opacity: 1; visibility: visible;}
  .overlay .popup {padding: 5.555vw; margin: 5.555vw; border-radius: 30px;}
  .overlay .popup .btn_close img {width: 30px;}
  .overlay .popup .popup_tit {margin-bottom: 5.555vw; font-size: 26px;}
  .overlay .popup .popup_notice {max-height: 25vh;}
  .overlay .popup .popup_subject .popup_txt + .popup_txt {margin-top: 24px;}
}

@media (min-width : 768px) {
  #section_5 .business_card {overflow: hidden;}
}

@media ( max-width: 980px ) {
  .footer .footer_bottom {display: block;}
  .footer .footer_bottom .footer_terms {margin-top: 40px;}
}

@media ( max-width: 1053px ) {
  #section_5 .business_card_list li a:hover {transform: initial;}
  .footer .footer_info .company_info .txt {display: block;}
  .footer .footer_info .company_info .txt ~ .txt {margin-top: 12px;}
  .footer .footer_info .vertical_line {display: none;}
  .footer .footer_info .footer_copyright {margin-top: 12px;}

}

@media ( min-width : 768px ) and ( max-width: 1024px ) {
  .cnt {max-width: 800px;}
  #section_2 .about_inner .about_desc .about_desc_txt {font-size: 20px;}
  #section_3 .history_inner .sticky_area {margin-right: 5.555vw;}
  #section_3 .history_intro_desc p {font-size: 20px;}
  #section_4 .notice_list li {padding: 20px 32px;}
  #section_4 .notice_subject .notice_category {margin-right: 40px;}
  #section_4 .notice_subject .notice_tit {font-size: 24px;}
  #section_4 .notice_info .notice_day {font-size: 20px;}
  #section_4 .notice_info .btn_notice_view {margin-left: 40px; padding: 12px 16px; font-size: 20px;}
  #section_6 .contact_box {padding: 20px 28px;}
  #section_6 .contact_subject .contact_info_txt {font-size: 24px;}
}

@media (min-width : 768px) and ( max-width: 1400px ) {
  #section_0 .main_inner .visual_img_inner {width: 50%;}
}

@media ( min-width: 1024px ) {
  #section_0 .main_inner .visual_tit {font-size: 4.5vw;}
  #section_1 .slogan_inner .sticky_elem p {font-size: 4vw;}
}

@media ( max-width: 1200px ) {
  #section_2 .section_tit {margin-bottom: 80px;}
  #section_2 .about_inner .about_intro {display: block;}
  #section_2 .about_inner .about_desc {width: 100%;}
  #section_2 .about_inner .about_mockup {width: initial; max-width: 650px; max-height: 100vw;}
  #section_2 .about_inner .about_mockup img {width: 54%;}
  #section_2 .about_inner .about_mockup img.b, #section_2 .about_inner .about_mockup img.c {width: 45%;}
  #section_6 #roumit_map {height: 65vw !important;}
}

@media ( max-width: 1400px ) {
  .cnt_wrap {padding: 0 5.555vw;}
  #section_3 .history_intro_desc p + p {margin-top: 8px;}
}


.red {background-color: red; width: 100%;}