<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<title>고객 요약 분석</title>
<link rel="stylesheet" href="../css/reset_taxp.css">
<link rel="stylesheet" href="../css/app_header.css"><!-- [D] 세무대리인용 header -->
<link rel="stylesheet" href="../css/content_taxp.css"><!-- [D] 세무대리인용 -->
<link rel="stylesheet" href="../css/swiper-bundle.min.css" ><!-- [D] 세무대리인용 -->
<link rel="stylesheet" href="../css/w2ui_2.0.css">
<link rel="stylesheet" href="../css/semo_rept.css">

<!-- custom scrollbar plugin css -->
<link rel="stylesheet" href="../css/jquery.mCustomScrollbar.css">
<script src="https://publ.roumit.com/js/firebase_include.js"></script>
  <script src="../js/lib/jquery/jquery-1.12.4.min.js"></script>
<script src="../js/lib/jquery/jquery-ui-1.10.4.min.js"></script>
<script src="../js/lib/swiper/swiper-bundle.min.js"></script>
<!-- custom scrollbar plugin -->
<script src="../js/lib/plugin/w2ui.js"></script>
<script src="../js/design/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../js/design/jquery.placeholder.min.js"></script>
<script src="../js/lib/plugin/smart.popup.js"></script>
<script src="../js/comm/common.js"></script>
<style>
	/* 상단배너 있을 때 */
    .band_banner ~ .wrap .mrprt_cont > .grid_wrap .w2ui-grid{
        height: calc(100vh - 234px);
        
    }
	/* 상단배너 없을 때 */
    .wrap .mrprt_cont > .grid_wrap .w2ui-grid{
        height: calc(100vh - 189px);
    }
</style>

</head>
<body class="lnb_bg"><!-- [D] 메뉴영역(접기 : class="fold", 펼치기 : class="lnb_bg") -->
	<div class="band_banner">
		<div class="banner_wrap">
			<div class="swiper topban_swiper">
				<div class="swiper-wrapper">
						<div class="cont_box">
							<div class="info_wrap">
								<span class="txt_01">요금 및 청구내역 메뉴 신규 오픈! 이용 내역 조회 바로가기</span>
								<div class="ico_arr">
									<img src="../img/txof/ico/ico_arr_24x24.svg" alt="">
								</div>
							</div>
							<div class="button_wrap">
								<button type="button" class="close_btn">
									<span>오늘하루 보지 않기</span>
									<img src="../img/txof/btn/brn_bnnerpop_close3.png" alt="">
								</button>
							</div>
						</div>
					<div class="cont_box type_02" >
						<div class="info_wrap">
							<span class="txt_01">
								시스템 점검 안내: 5월 16일(목) 21시부터 자정까지 서비스가 일시 중단됩니다.
							</span>
						</div>
						<div class="button_wrap">
							<button type="button" class="close_btn">
								<span>오늘하루 보지 않기</span>
								<img src="../img/txof/btn/brn_bnnerpop_close3.png" alt="">
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="app_header">
		<div class="app_header_inner">
			<div class="ah_l" onclick="location.href='/intro.act'" style="cursor: pointer;">
				<h1>세모리포트 <span>X</span>로움세무회계</h1>
			</div>
			
			<div class="ah_c">
				<div class="warning_txt02">
					<p>세모리포트 테스트 환경입니다.</p>
				</div>
			</div>
			<div class="ah_r">
				<ul class="ah_menu">
					<li style="position:relative;">
						<a href="#none" class="hd_tag weTalk " onclick="kakaoCheck('CHAT_LIST','')" title="We Talk">
							<img src="../img/txof/ico/ico_talk.svg" alt="">
							<span>We Talk</span>
							<span class="talk_conting_num" id="chat_bage" style="display: none;">N</span>
						</a>
					</li>
					<li id="update_gud">
						<a href="https://url.smjb.co.kr/9QdmGB.url" target="_blink" class="hd_tag updateInfo">
							<img src="../img/txof/ico/ico_speaker.svg" alt="">
							<span>업데이트</span>
							<span class="talk_conting_num" style="display:none;">N</span>
						</a>
					</li>
					<li>
						<a class="hd_tag hd_alarm" href="#none">
							<img src="../img/txof/ico/ico_noti.svg" alt="">
							<span>알림</span>
							<div class="count" id="_noti_push_cnt" style="">45</div>
						</a>
					</li>
					<li class="customer" id="popup_cs">
						<button type="button" class="ct_btn" id="btn_cs_center">
							<i></i>
							<span>고객센터</span>
						</button>	
						<div class="gnb_pop" id="popup_cs_center">
							<div class="gnb_pop_inner">
								<div class="top">
									<span>궁금한 사항을 한 눈에 !</span>
									<button type="button" class="close_btn" id="btn_close_cs" onclick="getPopCookie('popup_cs');">
										<img src="../img/txof/btn/close_w_20.svg" alt="">
									</button>
								</div>
								<div class="info_wrap">
									<ul>
										<li class="tit">
											<span>이용가이드</span>
										</li>
										<li class="list">
											<a href="https://semo-edu.liveklass.com/" target="_blank">
												<img src="../img/txof/app_header/gnb_info_01.svg" alt="">
												<span>온라인 강의실</span>
											</a>
										</li>
										<li class="list">
											<a href="https://url.smjb.co.kr/MRdmGB.url" target="_blank">
												<img src="../img/txof/app_header/gnb_info_02.svg" alt="">
												<span>세모리포트가 처음이라면?</span>
											</a>
										</li>
									</ul>
									<ul>
										<li class="tit">
											<span>고객센터</span>
										</li>
										<li class="list">
											<a href="https://url.smjb.co.kr/3QdmGB.url" target="_blank">
												<img src="../img/txof/app_header/gnb_info_03.svg" alt="">
												<span>세모리포트 도움말</span>
											</a>
										</li>
										<li class="list">
											<a href="https://semo-report.gitbook.io/guide/manual" target="_blank">
												<img src="../img/txof/app_header/ico_gnb_info_btn3_new.svg" alt="">
												<span>세모리포트 매뉴얼</span>
											</a>
										</li>
										<li class="list">
											<a href="https://url.smjb.co.kr/3XdmGB.url" target="_blank">
												<img src="../img/txof/app_header/ico_gnb_info_btn3_new.svg" alt="">
												<span>고객 요약 분석 활용가이드</span>
											</a>
										</li>
										<li class="list">
											<a href="https://url.smjb.co.kr/ORdmGB.url" target="_blank">
												<img src="../img/txof/app_header/gnb_info_04.svg" alt="">
												<span>자주하는 질문</span>
											</a>
										</li>
										<li class="list">
											<a href="https://url.smjb.co.kr/8QdmGB.url" target="_blank">
												<img src="../img/txof/app_header/gnb_info_08.svg" alt="">
												<span>공지사항</span>
											</a>
										</li>
										<li class="list">
											<a href="javascript:openChannelBot();">
												<img src="../img/txof/app_header/gnb_info_07.svg" alt="">
												<span>채팅 상담</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="header-side_bg" style="display: none;">
			<div class="header-side_box">
				<div class="hds_inner">
					<div class="hds_top">
						<div class="hds_title">
							<h1>알림</h1>
							<div class="btn">
								<button class="hd_close" type="button">
									<div class="icon"></div>
								</button>
							</div>
						</div>
						<div class="hds_tab">
							<div class="left">
								<ul>
									<li>
										<button class="active" type="button" id="_hd_noti_new">안읽음</button>
									</li>
									<li>
										<button type="button" id="_hd_noti_all">전체</button>
									</li>
								</ul>
							</div>
							<div class="right">
								<div class="state">
									<button type="button" id="_hd_noti_cnfm_all">모두읽음</button>
								</div>
							</div>
						</div>
						<div class="hds_search">
							<div class="input_wrap">
								<div class="left">
									<button class="srch_btn" type="button" id="_hd_noti_srch_btn">
									</button>
									<input type="text" value="" id="_hd_noti_word" placeholder="검색어를 입력하세요" style="width: 250px;">
								</div>
								<div class="right">
									<button class="clo_btn" type="button"></button>
	
								</div>
	
	
							</div>
						</div>
						<div class="hds_option">
							<ul>
								<li class="hds_opt_01">
									<span>검색옵션</span>
								</li>
								<li class="hds_opt_02">
									<button class="active" type="button" id="_hd_noti_opt_01">
										<span>거래처명</span>
									</button>
									<button class="active" type="button" id="_hd_noti_opt_02">
										<span>내용</span>
									</button>
								</li>
							
							</ul>
						</div>
					</div>
					<div class="hds_content">
	
						<div class="list_wrap">
	
							<!-- 알림 list -->
							<ul class="list" id="_hd_noti_list" style="cursor:pointer;">
							</ul>
	
							<!-- 알람없을시 show  -->
							<div class="no-alarm" id="_hd_noti_no" style="display:none;">
								<div class="icon">
									<img src="/img/txof/ico/page_43x50.png" alt="">
								</div>
								<div class="desc">
									<span>아직 도착한 업무 알림이 없어요</span>
								</div>
							</div>
	
						</div>
						
						<!-- 검색창 체크시 show -->
						<div class="src_option" id="_hd_noti_srch_res" style="display:none;">
							<div class="scr_opt_tit" id="_hd_noti_srch_gd">
								<span>
									<strong name="_hd_noti_srch_word"></strong>
									검색어가 포함된 거래처명을 검색합니다.
								</span>
							</div>
							<ul class="src_list" id="_hd_noti_biz_list">
							</ul>
							<div class="no-src" id="_hd_noti_no_srch" style="display:none;">
								<div class="icon">
									<img src="/img/txof/ico/excla_g_40x40.png" alt="">
								</div>
								<div class="desc">
									<div class="info">
										<p><strong name="_hd_noti_srch_word"></strong>에 대한<br>
											검색결과가 없습니다.
										</p>
									</div>
									<div class="link" id="_hd_noti_show_all">
										<a href="#none">
											<span>전체목록 보기</span>
											<img src="/img/txof/ico/arrow_b_5x9.png" alt="">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<!-- 상세보기 -->
				<div class="hds_detail" id="_hd_noti_detail" style="display:none">
	
					<div class="detail_top">
						<div class="detail_main-tit">
							<div class="left">
								<h1 id="_hd_noti_biz_nm"></h1>
								<img src="/img/txof/ico/search_gr_16x16.png" alt="">
							</div>
							<div class="right">
								<div class="btn">
									<button class="hd_close" tyle="button">
										<div class="icon"></div>
									</button>
								</div>
							</div>
						</div>	
						<div class="detail_sub-tit">
							<div class="info_01">
								<p id="_hd_noti_biz_no"></p>
							</div>
							<div class="info_02">
								<div class="left">
									<p id="_hd_noti_rppr_nm"></p>
									<button type="button" id="_hd_noti_go_biz">
										<span>바로가기</span>
										<img src="/img/txof/ico/arr_g_6x8.png" alt="">
									</button>
								</div>
								<div class="right " id="_hd_noti_go_chat">
									<button type="button">
										<img src="/img/txof/ico/ico_wetalk18x18_on.png" alt="">
									</button>
								</div>
							</div>
							<div class="info_01">
								<p id="_hd_noti_reg_dtm"></p>
							</div>
						</div>
					</div>
	
					<div class="detail_mid">
						<ul>
							<li class="list_01">
								<h2 id="_hd_noti_dtl_title"></h2>
							</li>
	
							<li class="list_02" id="_hd_noti_dtl_ctt">
							</li>
							
							<li class="list_05" id="_hd_noti_dtl_btn" style="display:none;">
								<button class="linkBtn_green" type="button" id="_btn_show_dtls">
									<span>자세히보기</span>
									<img src="../img/txof/ico/arr_w_6x8.png" alt="">
								</button>
							</li>
						</ul>
					</div>
	
					<div class="detail_bot">
						<div class="read_time">
							<p id="_hd_noti_cnfm_dtm"></p>
						</div>
						<!-- 첨부파일 있을시 노출 -->
						<div class="file_list" id="_hd_noti_show_file">
							<div class="dtb_title">
								<p id="_hd_noti_atth_cnt"></p><span class="file_size" id="_hd_noti_atth_size"></span>
							</div>
							<ul id="_hd_noti_atth_list">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
<!-- //header -->
<!-- //수임처 개선 -->

<div class="wrap ">
	<!-- Container -->
	<div class="container">
		<div class="lnb_box">	
			<!-- lnb_boxInn -->
			<div class="lnb_boxInn">
				<!-- lnb top 추가 -->
				<div class="lnb_top">
					<!-- user view -->
					<div class="user_view">
						<div class="user_r_side">
							<p class="icon_user"><strong>홍길동</strong> 님</p>
						</div>
						<div class="select_wrap">
							<div class="area_select">
								<span>담당자</span>
								<a class="entire" href="javascript:;">전체</a>
								<!-- 활성화 시 on 클래스 추가 -->
								<ul class="select_box" style="z-index: 302;">
									<li>
										<a href="javascript:;">
											<p>담당자 전체</p>
											<span class="num">599</span>
										</a>
									</li>
									<!-- 활성화 시 on 클래스 추가 -->
									<li class="user_list on">
										<a href="javascript:;">
											<p>박담당</p>
											<span class="num">55</span>
										</a>
									</li>
									<li class="user_list">
										<a href="javascript:;">
											<p>이담당</p>
											<span class="num">55</span>
										</a>
									</li>
									<li class="user_list">
										<a href="javascript:;">
											<p>김담당</p>
											<span class="num">55</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="alarm_wrap">
					<!-- 무료체험 사용중 -->
					<div class="mygroupLst">
						<div class="free_trial">
							<div class="tit">
								무료체험 사용중
							</div>
							<div class="count">
								<span>2/3</span>
							</div>
						</div>
					</div>
				</div>
				<!-- //lnb top 추가 -->
				<div class="alarm_wrap">
					<div class="mygroupLst">
						<dl id="">
							<dd class="on">
								<div class="line first">
									<a href="#none">
										<span>
											<img src="../img/txof/ico/ico_userManage.png"
												class="mCS_img_loaded">
											고객관리
										</span>
										<span class="badge2"><strong id="GRP">126</strong></span>
									</a>
								</div>
							</dd>
						</dl>
						<ul>
							<li class="on"><!-- 활성화클래스 on -->
								<div class="mygroupLst_tit">
									<a href="#none" class="">
										<img src="../img/txof/ico/ico_reptGroupManage.png" class="mCS_img_loaded">
										그룹관리
									</a>
									<div class="mygroup_btn">
										<i class="btn"></i>
									</div>
								</div>									
								<div class="mygroupCont">
									<dl class="mygroup" id="" style="display:;">
										<!-- 비활성 -->
										<dd class="off">
											<a href="#none">
												<div class="line tooltipWrap rt">
													<div class="left grp_left_div">
														<span class="txt" name="GRP_NM">121212</span>
														<div class="tooltip"><p class="tit" name="GRP_FULL_NM">121212</p><p></p></div>
														<button type="button" class="btnEdit"><img src="/img/txof/btn/btn_edit_b.png" width="14px"></button>
													</div>
													<div class="right">
														<span class="groupCount" name="GRP_CNT">0</span>
														<button type="button" class="btnEdit grp_edit_btn" name="BTN_GRP_EDIT" grp_code="0000000004" grp_code_nm="121212">
															<img src="../img/txof/btn/btn_edit_b.png" width="14px">
														</button>
	
													</div>
												</div>
											</a>
										</dd>
									</dl>
									<span class="btn_group_plus" id="">그룹추가</span>
								</div>
							</li>					
						</ul>
					</div>
				</div>
				<div class="alarm_wrap">	
					
					<!-- 보고서 관리 -->
					<div class="mygroupLst">
					   <ul>
						   <li class="on" id="grp_wrap_rprt"><!-- 활성화클래스 on -->
							   <div class="mygroupLst_tit">
								   <a href="#none" class="" name="btn_left_menu">
									   <img src="../img/txof/ico/ico_reptManage.png" class="mCS_img_loaded">보고서 관리
								   </a>
								   <div class="mygroup_btn">
									   <i class="btn"></i>
								   </div>
							   </div>
							   <div class="mygroupCont">
								   <dl class="mygroup">
									   <dd class="off" id="mrprt_stts" data-nm="보고서 발송" data-url="mrprt_stts_001.act">
										   <a href="#none">
											   <div class="line">보고서 발송</div>
										   </a>
										
									   </dd>
									   <dd class="off" id="mrprt_send" data-nm="보고서 현황" data-url="mrprt_send_001.act">
										   <a href="#none">
											   <div class="line">보고서 생성</div>
										   </a>
										   <!-- <div class="line">
											   보고서 발송 <span class="badge2"><strong ></strong></span>
										   </div> -->
									   </dd>
									   <dd class="off" id="mrprt_hist" data-nm="리포트 이력" data-url="mrprt_hist_001.act">
										   <a href="#none">
											   <div class="line">보고서 이력</div>
										   </a>

									   </dd>
								   </dl>
							   </div>
						   </li>
					   </ul>
				   </div>

					<div class="mygroupLst">
						<dl id="">
							<dt class="menu">
								<img src="../img/txof/ico/ico_taxCafe.png" class="mCS_img_loaded">
								세무지식
							</dt>
							<dd>
								<div class="line first">세무지식 관리</div>
							</dd>
						</dl>
					</div>
					
					<!-- 환경 설정 -->
					<div class="mygroupLst">
						<ul>
							<li class="off on" id="grp_wrap_main"><!-- 활성화클래스 on -->
								<div class="mygroupLst_tit">
									<a href="#none" class="" name="btn_left_menu"><img src="../img/txof/ico/ico_set.png" class="mCS_img_loaded">환경 설정</a>
									<div class="mygroup_btn">
										<i class="btn"></i>
									</div>
								</div>
								<div class="mygroupCont" style="display: none ;">
									<dl class="mygroup">
										<dd class="off" id="mgnt_wpop" data-nm="웰컴팝업 관리" data-url="mgnt_wpop_001.act">

											<a href="#none">
												<div class="line">웰컴팝업 관리</div>
											</a>
										</dd>

										<dd class="off" id="mgnt_rept" data-nm="리포트 설정" data-url="mgnt_rept_001.act">
											<a href="#none">
												<div class="line">리포트 설정</div>
											</a>
										</dd>
										<dd class="off" id="mgnt_sett" data-nm="세무사무소 설정" data-url="mgnt_sett_001.act">
											<a href="#none">
												<div class="line">세무사무소 설정 </div>
											</a>
										</dd>
										<dd class="off" id="mgnt_feld" data-nm="사용자필드 설정" data-url="mgnt_feld_001.act">
											<a href="#none">
												<div class="line">사용자필드 설정 </div>
											</a>
										</dd>
									</dl>
								</div>
							</li>
						</ul>
					</div>

					<!-- 어드민 -->
					<div class="mygroupLst">
						<ul>
							<li class="on"><!-- 활성화클래스 on -->
								<div class="mygroupLst_tit">
									<a href="#none" class="" name="btn_left_menu"><img src="../img/txof/ico/ico_set.png" class="mCS_img_loaded">어드민</a>
									<div class="mygroup_btn">
										<i class="btn"></i>
									</div>
								</div>
								<div class="mygroupCont" style="display: block;">
									<dl class="mygroup">
										<dd class="off admin_menu" id="admn_intt" data-nm="세무사무소 관리" data-url="admn_intt_001.act">
											<a href="#none">
												<div class="line">세무사무소 관리</div>
											</a>
										</dd>
										<dd class="off admin_menu" id="admn_bzaq" data-nm="수임거래처 관리" data-url="admn_bzaq_001.act">
											<a href="#none">
												<div class="line">수임거래처 관리</div>
											</a>
										</dd>
										<dd class="off admin_menu" id="admn_actv" data-nm="세무사무소 이용현황" data-url="admn_actv_001.act">
											<a href="#none">
												<div class="line">세무사무소 이용현황</div>
											</a>
										</dd>
										<dd class="off admin_menu" id="admn_cafe" data-nm="세모카페 어드민" data-url="mgnt_cafe_001.act" data-param="{&quot;blbd_id&quot;:&quot;MGNT_CAFE&quot;,&quot;blbd_nm&quot;:&quot;세모카페 어드민&quot;}">
											<a href="#none">
												<div class="line">세모카페 어드민</div>
											</a>
											<!-- <div class="line">
												세모카페 어드민 <span class="badge2"><strong></strong></span>
											</div> -->
										</dd>
										<dd class="off admin_menu" id="admn_noti" data-nm="공지사항 관리" data-url="admn_noti_001.act">
											<!-- <div class="line">
												공지사항 관리 <span class="badge2"><strong></strong></span>
											</div> -->
											<a href="#none">
												<div class="line">공지사항 관리</div>
											</a>
										</dd>
										<dd class="off admin_menu" id="admn_scrp" data-nm="클라이언트 스크래핑 조회" data-url="admn_scrp_001.act">
											<!-- <span class=""></span> -->
											<!-- <div class="line">
												클라이언트 스크래핑 조회 <span class="badge2"><strong></strong></span>
											</div> -->
											<a href="#none">
												<div class="line">클라이언트 스크래핑 조회</div>
											</a>
										</dd>
									</dl>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="lnb-swiper">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
							<a href="https://docs.google.com/forms/d/e/1FAIpQLScditNCBwg6JgkuYrhAzfnT3wEVHGL-3lrI5_IywMBY07dFzw/viewform" target="_blank">
								<img src="../img/txof/bg/test_img_04.png" alt="">
							</a>
						</li>

					</ul>
					<div class="swiper-pagination"></div>
			</div>
			<!-- //lnb_boxInn -->
		</div>
		<!-- content -->
		<div class="content">	
			<div class="content_wrap">
                <!-- 그리드영역 -->
                <div class="title_wrap h1type">
                    <div class="left">
                        <h1>고객 요약 분석</h1>
                    </div>

                    <div class="right">
                        <div class="cntalign">
                            <div class="src_box">
                                <div class="inner">
                                    <img src="../img/txof/ico/search_14x14.svg" alt="" class="src_icon">
                                    <input type="text" placeholder="검색">
                                    <div class="dtl_box">
                                        <img src="../img/txof/ico/line_7070.svg" alt="" class="line">
                                        <!-- dtl_btn click시 active 클래스  -->
                                        <button class="dtl_btn" type="button">
                                            <span>상세</span>
                                        </button>
                                    </div>
                                </div>
								<div class="dtsch" style="display: none;">
									<!--  -->
									<div class="dtsch_box">
										<!-- 가입일자 -->
										<div class="list_box type_02">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>가입일자</span>
												</div>
												<ul class="cont_list">
													<li class="list_item">
														<div class="cal_box">
															<div class="cal_item">
																<input type="text" readonly value="2024-01-01">
																<img src="../img/txof/ico/ico_cal_14x14.svg" alt="달력">
															</div>
															<span class="line">-</span>
															<div class="cal_item">
																<input type="text" readonly value="2024-01-31">
																<img src="../img/txof/ico/ico_cal_14x14.svg" alt="달력">
															</div>
														</div>
													</li>
													
												</ul>
											</ul>
										</div>

										<!-- 라디오 -->
										<div class="list_box">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>검토여부</span>
												</div>
												<ul class="cont_list">
													<li class="list_item">
														<label><input type="radio" name="dtsch">전체</label>
													</li>
													<li class="list_item">
														<label><input type="radio" name="dtsch">완료</label>
													</li>
													<li class="list_item">
														<label><input type="radio" name="dtsch">완료</label>
													</li>
												</ul>
											</ul>
										</div>

										<!-- 경리나라 -->
										<div class="list_box">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>경리나라</span>
												</div>
												<ul class="cont_list">
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">가입</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">미가입</label>
													</li>
												</ul>
											</ul>
										</div>
									</div>

									<!-- 공통 -->
									<div class="dtsch_box">
										<!-- 사업자 구분 -->
										<div class="list_box">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>사업자 구분</span>
												</div>
												<ul class="cont_list">
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">개인</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">법인</label>
													</li>
												</ul>
											</ul>
										</div>

										<!-- 계약상태 -->
										<div class="list_box">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>계약상태</span>
												</div>
												<ul class="cont_list">
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">기장개인</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">신고개인</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">기장법인</label>
													</li>
													<li class="list_item">	
														<label><input type="checkbox" name="dtsch">신고법인</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">아웃소싱</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">자문계약</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">조세불복</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">미등록</label>
													</li>
												</ul>
											</ul>
										</div>

										<!-- 과세유형 -->
										<div class="list_box">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>과세유형</span>
												</div>
												<ul class="cont_list">
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">일반</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">간이</label>
													</li>
													<li class="list_item">										
														<label><input type="checkbox" name="dtsch">면세</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">비영리</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">과세특례</label>
													</li>
												</ul>
											</ul>
										</div>

										<!-- 휴폐업 구분 -->
										<div class="list_box">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>휴폐업 구분</span>
												</div>
												<ul class="cont_list">
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">장상</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">휴업</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">폐업</label>
													</li>
													<li class="list_item">
														<label><input type="checkbox" name="dtsch">미등록</label>
													</li>
												</ul>
											</ul>
										</div>
										
										<!-- 검색어 -->
										<div class="list_box type_02">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>검색어</span>
												</div>
												<div class="src_box" >
													<div class="inner">
														<input type="text" placeholder="거래처명,대표자명,사업자번호,휴대폰번호">
													</div>
												
												</div>
											</ul>
										</div>

										<!-- 보고서 그룹 -->
										<div class="list_box type_02">
											<ul class="dtsch_list">
												<div class="dts_tit">
													<span>보고서 그룹</span>
												</div>
												<ul class="cont_list">
													<li>
														<div class="sel_checkBox">
															<div class="box_title" id="schIndstryDiv">
																<input type="text" readonly value="보고서 발송 그룹을 선택해주세요">
																<!-- <span>보고서 발송 그룹을 선택해주세요</span> -->
																<!-- ul 노출시 addClass up -->
																<button type="button" class="down"></button>
															</div>
															<div class="checkList" id="indstryList" style="">
																<ul>
																	<li class="list_item">
																		<div class="left">
																			<label><input type="checkbox" name="SEL_RPRT_GRP" value=""><span name="" title="그룹 미설정 거래처">그룹 미설정 거래처sdfasfsdfsdfsdfsdf</span></label>
																		</div>
																		<div class="right">
																			<span name="RPRT_GRP_TOT">13</span>
																		</div>
																	</li>
																	<li class="list_item">
																		<div class="left">
																			<label><input type="checkbox" name="SEL_RPRT_GRP" value=""><span name="" title="그룹 미설정 거래처">그룹 미설정 거래처</span></label>
																		</div>
																		<div class="right">
																			<span name="RPRT_GRP_TOT">13</span>
																		</div>
																	</li>
																	<li class="list_item">
																		<div class="left">
																			<label><input type="checkbox" name="SEL_RPRT_GRP" value=""><span name="" title="그룹 미설정 거래처">그룹 미설정 거래처</span></label>
																		</div>
																		<div class="right">
																			<span name="RPRT_GRP_TOT">13</span>
																		</div>
																	</li>
		
																</ul>
															</div>
														</div>
													</li>
													<li>
														
													</li>
												</ul>
												
											</ul>
										</div>

										<!-- 버튼  -->
										<div class="button_wrap">
											<button type="button" class="btn_style2_g" id="btn_smpl" style=""><span>초기화</span></button>
											<button type="button" class="btn_style1_b" id="schBtn"><span>조회</span></button>
										</div>
									</div>
									
								</div>
                            </div>	
						</div>
						<div class="cntalign">
							<button type="button" class="excel_btn" id="btn_excel_down" title="엑셀 다운로드">
								<img src="../img/txof/ico/excel_icon_16.svg" alt="">
							</button>
						</div>
                    </div>
                </div>
                <article class="mrprt_status">
                    <div class="mrprt_tab">
						<div class="inner">
							<!-- left -->
							<div class="left">
								<ul id="tab_gb">
									<li data-tab_gb="prft" class="active">손익</li>
									<li data-tab_gb="sale">매출</li>
									<li data-tab_gb="buy">매입</li>
									<li data-tab_gb="wtax">원천세</li>
									<li data-tab_gb="vat">부가세</li>
									<li data-tab_gb="deli">배달앱</li>
								</ul>
							</div>
							<!-- //left -->
							<!-- right --> 
							<div class="right">
								<article class="mrprt_category">
									<div class="category_inner">
										<div class="left">
											<div class="category_radio" id="tax_gb" style="display: none;">
												<div class="inner">
													<input type="radio" id="tax_ctg01" name="ctg_radio" checked="">
													<label for="tax_ctg01">부가세 신고분석</label>
													<input type="radio" id="tax_ctg02" name="ctg_radio">
													<label for="tax_ctg02">부가세 예상분석</label>
												</div>
											</div>
											<div class="category_item">
												<div class="cate_name">
													<h2>조회기간</h2>
												</div>
												<div class="cate_filter pos_r">
													<button type="button" id="str_date">
														<span id="">2024년 전체</span>
														<img src="../img/txof/btn/arr_down_16.svg" alt="" name="">
													</button>
													<!-- <button type="button" id="str_date2" style="display:none;">
														<span id=""></span>
														<img src="../img/txof/btn/arr_down_16.svg" alt="" name="">
													</button> -->
		<!-- 											탭메뉴 분기별 7 tab -->
													<div class="pop_filter" id="sch_gb_div_term" style="display: none;">
														<div class="filter_radio">
															<input type="radio" id="flt01" name="sch_year" checked="">
															<label for="flt01">2024</label>
															<input type="radio" id="flt02" name="sch_year">
															<label for="flt02">2023</label>
															<input type="radio" id="flt03" name="sch_year">
															<label for="flt03">2022</label>
														</div>
														<div class="filter_radio type_01 div_detail" style="display: none;">
															<input type="radio" id="flt04" name="sch_dt_gb" data-dt_gb="" data-str_dt="01" data-end_dt="12" checked="">
															<label for="flt04">전체</label>
															<input type="radio" id="flt05" name="sch_dt_gb" data-dt_gb="Q1" data-str_dt="01" data-end_dt="03">
															<label for="flt05">1분기</label>
															<input type="radio" id="flt06" name="sch_dt_gb" data-dt_gb="Q2" data-str_dt="04" data-end_dt="06">
															<label for="flt06">2분기</label>
															<input type="radio" id="flt07" name="sch_dt_gb" data-dt_gb="H1" data-str_dt="01" data-end_dt="06">
															<label for="flt07">상반기</label>
															<input type="radio" id="flt08" name="sch_dt_gb" data-dt_gb="Q3" data-str_dt="07" data-end_dt="09">
															<label for="flt08">3분기</label>
															<input type="radio" id="flt09" name="sch_dt_gb" data-dt_gb="Q4" data-str_dt="10" data-end_dt="12">
															<label for="flt09">4분기</label>
															<input type="radio" id="flt10" name="sch_dt_gb" data-dt_gb="H2" data-str_dt="07" data-end_dt="12">
															<label for="flt10">하반기</label>
														</div>
														<div class="filter_radio vat_sch_div div_detail" style="display: none;">
															<input type="radio" id="flt14" name="sch_dt_gb" data-str_dt="04">
															<label for="flt14">1기 예정</label>
															<input type="radio" id="flt15" name="sch_dt_gb" data-str_dt="07">
															<label for="flt15">1기 확정</label>
															<input type="radio" id="flt16" name="sch_dt_gb" data-str_dt="10">
															<label for="flt16">2기 예정</label>
															<input type="radio" id="flt17" name="sch_dt_gb" data-str_dt="01">
															<label for="flt17">2기 확정</label>
														</div>
														
														<div class="button_wrap">
															<button href="#none" class="btn_style1_b" id="sch_btn"><span>조회</span></button>
														</div>
													</div>
		<!-- 											달력 -->
													<div class="ly_year" style="display: none;" id="sch_gb_div_cal">
														<div class="lytop">
															<a href="#none" class="prev" id="cal_prev"></a>
															<span class="ytxt" id="cal_txt_year"></span>
															<a href="#none" class="next" id="cal_next"></a>
														</div>
														<div class="lymcont">
															<ol>
																<li data-str_mon="01" data-end_mon="01"><a href="#none">01</a></li>
																<li data-str_mon="01" data-end_mon="02"><a href="#none">02</a></li>
																<li data-str_mon="01" data-end_mon="03"><a href="#none">03</a></li>
																<li data-str_mon="01" data-end_mon="04"><a href="#none">04</a></li>
																<li data-str_mon="01" data-end_mon="05"><a href="#none">05</a></li>
																<li data-str_mon="01" data-end_mon="06"><a href="#none">06</a></li>
																<li data-str_mon="07" data-end_mon="07"><a href="#none">07</a></li>
																<li data-str_mon="07" data-end_mon="08"><a href="#none">08</a></li>
																<li data-str_mon="07" data-end_mon="09"><a href="#none">09</a></li>
																<li data-str_mon="07" data-end_mon="10"><a href="#none">10</a></li>
																<li data-str_mon="07" data-end_mon="11"><a href="#none">11</a></li>
																<li data-str_mon="07" data-end_mon="12"><a href="#none">12</a></li>
															</ol>
														</div>
														<div class="lybtm cboth">
															<a href="#none" class="right txt_b" id="cal_this_mon">이번달</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
		
								</article>
							</div>
							<!-- //right -->
						</div>
					</div>
                    <div class="mrprt_cont">
                        <div class="grid_wrap" style="display:;">
                            <div id="grid_01" style=""></div>
                        </div>			
                    </div>       
                </article>
			</div>
		   <!-- //content_wrap -->		
		</div>
	</div>
</div>
<!-- //wrap -->
<script type="module">
    let grid_01 = new w2grid({
		name: 'grid_01',
		box: '#grid_01',
		show: {
			
			selectColumn: true //체크박스 생성
			
		},
		
		columns: [
			{ field: 'th_01', text: '거래처명', size: '150px',  sortable: true,  attr: 'align=center'  },
			{ field: 'th_02', text: '사업자 번호', size: '120px', sortable: true,  attr: 'align=center' },
			{ field: 'th_03', text: '상태', size: '100px',  sortable: true,  attr: 'align=center' },
			{ field: 'th_04', text: '신용카드 매출', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_05', text: '신용카드 매입', size: '150px', sortable: true,   attr: 'align=right'  },
			{ field: 'th_06', text: '온라인 매출', size: '150px',  sortable: true,  attr: 'align=right' },
			{ field: 'th_07', text: '전자계산서 매출', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_08', text: '전자계산서 매입', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_09', text: '전자세금계산서 매출', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_10', text: '전자세금계산서 매입', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_11', text: '현금영수증 매출', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_12', text: '현금영수증 매입', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_13', text: '근로 · 일용소득', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_14', text: '사업소득', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_15', text: '기타소득', size: '150px', sortable: true,  attr: 'align=right' },
			{ field: 'th_16', text: '최근 데이터 검증일자', size: '150px', sortable: true,  attr: 'align=center' },

			

		],
		records: [
			{ "recid": 1, "th_01": "거래처명 들어오는 자리", "th_02" : "123-45-67890", "th_03" : "검증 불일치", "th_04" : "5,078,136 (121건)", "th_05" : "2,403,684 (61건)", "th_06" : "0", "th_07" : "0", "th_08" : "0", "th_09" : "0", "th_10" : "0", "th_11" : "0", "th_12" : "0", "th_13" : "0", "th_14" : "0", "th_15" : "0", "th_16" : "2023-06-19 00:00"
				, w2ui: { class:{ th_03: "gr_err", th_04:"gr_bg_red"}}},
			{ "recid": 2, "th_01": "거래처명 들어오는 자리", "th_02" : "123-45-67890", "th_03" : "검증완료", "th_04" : "5,078,136 (121건)", "th_05" : "2,403,684 (61건)", "th_06" : "0", "th_07" : "0", "th_08" : "0", "th_09" : "0", "th_10" : "0", "th_11" : "0", "th_12" : "0", "th_13" : "0", "th_14" : "0", "th_15" : "0", "th_16" : "2023-06-19 00:00"
				, w2ui: { class:{ th_03: ""}} },
			{ "recid": 3, "th_01": "거래처명 들어오는 자리", "th_02" : "123-45-67890", "th_03" : "검증대기", "th_04" : "5,078,136 (121건)", "th_05" : "2,403,684 (61건)", "th_06" : "0", "th_07" : "0", "th_08" : "0", "th_09" : "0", "th_10" : "0", "th_11" : "0", "th_12" : "0", "th_13" : "0", "th_14" : "0", "th_15" : "0", "th_16" : "2023-06-19 00:00"
				, w2ui: { class:{ th_03: "gr_await"}} },
			{ "recid": 4, "th_01": "거래처명 들어오는 자리", "th_02" : "123-45-67890", "th_03" : "검증대기", "th_04" : "5,078,136 (121건)", "th_05" : "2,403,684 (61건)", "th_06" : "0", "th_07" : "0", "th_08" : "0", "th_09" : "0", "th_10" : "0", "th_11" : "0", "th_12" : "0", "th_13" : "0", "th_14" : "0", "th_15" : "0", "th_16" : "2023-06-19 00:00"
				, w2ui: { class:{ th_03: "gr_await"}} },

		]
	})

</script>
<script>
	
// 	var swiper = new Swiper(".topban_swiper", {
//   direction: "vertical",
//   pagination: {
// 	el: ".swiper-pagination",
// 	clickable: true,
//   },
// });
</script>
<script>
		$(document).ready(function (e) {
		swiper1 = new Swiper('.topban_swiper', {
			direction: "vertical",
			effect: 'fade',
			loop: true, 
			speed: 1000,
			autoplay: {
					delay: 2000,
					disableOnInteraction: true,
			},
	
			pagination: {
				el: '.swiper-pagination',
				type: "fraction",
				clickable: true,
			},
		});
	});
</script>
</body>

</html>

