@charset "utf-8";

/* 리포트 rprt_list_001 */
.reportList li {position: relative; padding: 20px 0; border-top: 1px solid #c8c8c8}
.reportList li:last-child {border-bottom: 1px solid #c8c8c8}
.reportList li .rCont {float: right; margin-top: 4px}
.reportList li .reportCont .defTit {display: inline-block; margin: 11px 0 10px; font-weight: 600; font-size: 1.266rem}

/* 리포트 상세 rprt_dtls_002 */
.reportMsgList > li {padding: 10px 0}
.reportMsgList > li .defTxt {word-break: keep-all}
.areaStateMsg {margin: 20px 0; text-align: right}

/* 리포트 첫 인사 rprt_dtls_001 */
.welcomeList > li {padding-bottom: 70%; border-bottom: 5px solid #f6f6f6; background: no-repeat right bottom 10px / 68.75% auto}
.welcomeList > li:last-child {border: none}
.welcomeList > li.list01 {background-image: url(../img/img_welcome02.png)}
.welcomeList > li.list02 {background-image: url(../img/img_welcome03.png)}
.welcomeList > li.list03 {background-image: url(../img/img_welcome04.png)}
.welcomeList > li.list04 {background-image: url(../img/img_welcome05.png)}
.welcomeList > li.list05 {background-image: url(../img/img_welcome06.png)}
.welcomeList > li.list01 .defTit {width: fit-content; padding-top: 8px}
.welcomeList > li.list01 .defTit::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 3px; background-color: #12997a}
.welcomeList > li.list06 {padding: 130px 0; margin: 0 -20px -20px -20px; background-color: #17bf98}
.welcomeList > li.list06 .defTit {margin: 0; text-align: center; color: #fff}

/* 리포트 상세 rprt_dtls_009 */
.reportPayList li .txt {position: relative; display: inline-block; margin-left: 8px; padding-left: 16px;}
.reportPayList li .txt::before {content: 'ㄴ'; position: absolute; left: 0; top: 0}

/* 더보기 */
.areaFootBanner {position: fixed; left: 0; bottom: 73px; width: 100%; padding: 0 20px 20px}
.areaFootBanner div {background: red; height: 80px; text-align: center; line-height: 80px;}

/* areaFilter */
.areaFilter {margin: 25px 0 5px}
.areaFilter a {position: relative; display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px; border-bottom: 1px solid #e1e1e1}
.areaFilter .tit {color: #8a8a8b; font-size: 1rem}
.areaFilter .tit img {width: 20px}
.areaFilter .tit strong {color: #111; font-weight: 600}
.areaFilter .rCont {display: flex; align-items: center}
.areaFilter .rCont .tsRight {width: 7px}
.areaFilter .rCont .reload {width: 23px; margin-left: 5px}
.areaFilter + .accTransferList > li h4.defTit {margin-top: 0}

/* 세무탭 tax_tab_001 */
.taxMenuList > li {width: 47%; margin-top: 13px; border: 1px solid #e2e2e2; border-radius: 23px}
.taxMenuList > li:nth-child(odd) {float: left}
.taxMenuList > li:nth-child(even) {float: right}
.taxMenuList .moveLink {display: block; padding: 1.333rem}
.taxMenuList .moveLink .imgTaxTab {width: 27px}
.taxMenuList .moveLink h4.defTit {margin: 15px 0 7px}

/* 종합소득세 tax_ictx_001 */
.ictxVisual .defTit {color: #6a6a6a}
.ictxVisual img {display: block; width: 180px; margin: 90px auto 73px; text-align: center}
.noticeBox .titLine {height: 1px; margin: 15px 0; border: none; background: #222}

/* 종합소득세 tax_ictx_003 */
.ictxTab {padding: 35px 0 30px}
.ictxTab .list {display: flex; justify-content: space-around}
.ictxTab .list li {text-align: center}
.ictxTab .list li p {font-size: 1.133rem}
.ictxTab .list li .num {font-size: 1.533rem; font-weight: 600; color: #6a6a6a}
.ictxList {padding: 30px 20px 100px}
.ictxList .accordionToggle::after {right: 20px; background-image: url(../img/ico_ts_down.png)}
.ictxList .depth01 > li {background: #fff; border-radius: 8px}
.ictxList .depth01 > li + li {margin-top: 12px}
.ictxList .depth01 > li > .accordionToggle {padding: 20px}
.ictxList .depth01 > li > .accordionToggle .tit {font-size: 1.4rem; font-weight: 600}
.ictxList .depth01 > li > .accordionToggle .tit .order {margin-right: 8px}
.ictxList .depth01 > li > .accordionToggleWrap {padding: 0 20px 20px}
.ictxList .depth02 {padding-top: 23px; border-top: 1px solid #c1c1c1}
.ictxList .depth02 > li + li {margin-top: 24px}
.ictxList .depth02 > li .tit {padding-left: 30px; font-size: 1.133rem}
.ictxList .depth02 > li.error .tit {background: url(../img/ico_error.png) no-repeat left center / 18px}
.ictxList .depth02 > li.complete > .accordionToggle,
.ictxList .depth02 > li.error > .accordionToggle {background-position: right center; background-size: 11px}
.ictxList .depth02 > li > .accordionToggle::after {background-size: 11px; right: 0}
.ictxList li.proof .depth02 > li .tit {background: url(../img/ico_check.png) no-repeat left center / 18px; color: #c7c7c7}
.ictxList li .depth02 > li.complete .tit {background: url(../img/ico_check_on.png) no-repeat left center / 18px; color: #111}
.ictxList .depth02 .defTxt02 {margin: 8px 0; font-size: 0.933rem}
.ictxList .depth02 .btnLink {color: #0088ff; text-decoration: underline}
.ictxList li.history .depth02 .dataList li.error .infoArea .ico i {background-image: url(../img/ico_error.png)}
.ictxList .infoArea {margin-bottom: 15px}
.ictxList .infoArea .ico + .cont {padding-left: 6px}
.ictxList .infoArea.acc .ico i {width: 15px; height: 15px}
.ictxList .infoArea.card .ico i {width: 15px; height: 21px}
.ictxList .switch .switchLabel {margin: 2px 5px 0 0; color: #12997a}
.ictxList .switch .slider {width: 25px; height: 14px; border-radius: 7px}
.ictxList .switch .slider::before {top: -3px; left: -7px}
.ictxList .switch input:checked ~ .slider::before {transform: translateX(18px)}
.ictxList .accTransferList li {padding: 4px 0}
.ictxList .accTransferList li .accordionToggleWrap .grayLine {margin: 15px 0}
.ictxList .accTransferList li .accordionToggle {height: 20px}
.ictxList .accTransferList li .accordionToggle::after {width: 100%; height: inherit; left: 0; background-size: 11px}
.ictxList .accTransferList dl dt, 
.ictxList .accTransferList dl dd {font-size: 0.866rem}
.ictxList .btnResist {background: url(../img/ico_addPhoto.png) no-repeat right center / 1.666rem}
.dataList > li {margin: 14px 0}
.dataList > li .item {position: relative}
.dataList > li .item .info {font-size: 0.933rem}
.dataList > li .item .date.time {margin-left: 3px}
.dataList > li .item .info + .date.time {margin: 6px 0 0}
.dataList > li:first-child {margin-top: 18px} 
.dataList > li + li {padding-top: 14px; border-top: 1px solid #c1c1c1}
.dataList > li .item .rCont {position: absolute; top: 0; right: 0}
.dataList > li .item .rCont button {display: block; padding: 5px; margin: -5px; font-size: 0.933rem}
.dataList > li .item .rCont .figure {font-size: 0.933rem}
.dataList > .error .item,
.dataList > .error .item .date.time {color: #c7c7c7}
.dataList > .error .item .rCont {width: 18px}

/* 종합소득세 조회 및 제출 tax_ictx_001 */
.formWrap.selectAll > .dotListMsg {padding-left: 36px}
.formWrap.selectAll > .dotListMsg > li {margin-top: 7px; color: #85888d}

/* 민원증명 tax_cppr_001, tax_cppr_002 */
.ApplyListWrap .listWrap .confirmMsg {padding: 50px 0}
.ApplyListWrap .listWrap > li {padding: 10px 0;}
.ApplyListWrap .listWrap > li .menu .tit {font-size: 1rem; font-weight: 500}
.ApplyListWrap .listWrap > li .menu .rCont .btnDelete {width: 30px; height: 30px; background: url(../img/ico_close_gray.png) no-repeat right center / 20px}
.ApplyListWrap .areaBodyBtn {margin-top: 50px}

/* tax_slry_002 */
.totalFocusList {margin-bottom: 20px}
.totalFocusList > li {padding: 5px 0}
.totalFocusList li.total .infoArea .figure {font-size: 1.133rem}

/* 더보기탭 메인 vwmr_tab_001 */
.vwmrMenu .listWrap > li .moveLink {padding-left: 45px}
.vwmrMenu .listWrap > li {background: no-repeat left center / 25px}
.vwmrMenu .listWrap > li.menu01 {background-image: url(../img/ico_vwmrMenu01.png)}
.vwmrMenu .listWrap > li.menu02 {background-image: url(../img/ico_vwmrMenu02.png)}
.vwmrMenu .listWrap > li.menu03 {background-image: url(../img/ico_vwmrMenu03.png)}
.vwmrMenu .listWrap > li.menu04 {background-image: url(../img/ico_vwmrMenu04.png)}
.vwmrMenu .listWrap > li.menu05 {background-image: url(../img/ico_vwmrMenu05.png)}
.vwmrMenu .listWrap > li.menu06 {background-image: url(../img/ico_vwmrMenu06.png)}
.vwmrMenu .listWrap > li.menu07 {background-image: url(../img/ico_vwmrMenu07.png)}
.vwmrMenu .listWrap > li.menu08 {background-image: url(../img/ico_vwmrMenu08.png)}
.partnerList {margin-bottom: 15px}
.partnerList > li {width: 20%; float: left; margin-top: 15px}
.partnerList > li + li {margin-left: 6.666%}
.partnerList > li:nth-child(5n) {margin-left: 0}
.partnerList > li .moveLink {display: block; height: 64px; padding: 0; margin: 0;  text-align: center; border: 1px dashed #bfbfbf; border-radius: 8px}
.partnerList > li .moveLink.active {border-style: solid}
.partnerList > li .moveLink img {width: 26px; margin: 6px 0 7px}

/* 직원 vwmr_empl_001 */
.areaFloatingBtn {position: fixed; bottom: 40px; right: 20px}
.areaFloatingBtn a {display: block; width: 60px}

/* 직원 vwmr_empl_009 */
.busiAccordion {border-top: 1px solid #f1f1f1}
.busiAccordion > li:not(:last-child) {border-bottom: 1px solid #f1f1f1}
.busiAccordion .accordionToggle::after {width: 11px; height: 11px; background-image: url(../img/ico_ts_down_gray.png); background-size: 11px}
.busiAccordion .accordionToggle .tit {padding: 13px 0; color: #919191; font-size: 0.866rem}
.busiAccordion .listWrap {margin: 0}
.busiAccordion .listWrap .infoArea .rCont .infoTxt { padding: 0; background-image: none; text-decoration: none; font-size: 0.8rem}

/* 직원상세정보 vwmr_empl_010 */
.areaBodyBtn .btnBdGray {font-size: 1rem}
.btnBdGray {padding: 0 10px;border: 1px solid #8a8a8b; color: #8a8a8b; border-radius: 4px}
.btnBdGray.disabled {color: #dbdbdb; border-color: #dbdbdb;}
.btnBdGrayWrap .btnBdGray {height: 29px; line-height: 28px}
.btnBdGrayWrap .btnBdGray + .btnBdGray {margin-left: 3px}
.btnBdGrayWrap .listDot > li {border-top: 1px solid #f1f1f1}

/* 퇴사처리 요청하기 vwmr_empl_011 */
.busiInfoWrap .listDot .listTypeInput {padding: 0 10px;}

/* 세금 리스트 vwmr_tbmt_002 */
.taxList {margin-bottom: 25px}
.taxList > li {border-bottom: 1px solid #c1c1c1; padding: 16px 0}
.taxList .infoArea .cont .info + .txt {margin-top: 10px}
.taxList .infoArea .rCont {text-align: right}
.taxList .infoArea .rCont .badge + .moveLink {margin-top: 4px}
.taxList .moveLink .figure + .tsRight {width: 7px; margin-left: 8px}

/* 거래처 즐겨찾기 리스트 vwmr_bzaq_003 */
.FavoritesList {padding-bottom: 17px; border-bottom: 1px solid #f1f1f1}
.FavoritesList > li + li {margin-top: 26px;}
.infoArea .rCont .star {display: block; width: 30px; height: 30px; background: url(../img/ico_favorite_off.png) no-repeat right center / 20px;}
.FavoritesList .infoArea .rCont .star {background-image: url(../img/ico_favorite_on.png)}

/* 거래처 즐겨찾기 리스트 vwmr_bzaq_004 */
.borderWrap {padding: 10px 0; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1}

/* 계정 vwmr_mgmt_002 */
.account.defTxt02 {font-size: 1rem}

/* 급여대장 vwmr_slry_003 */
.taxList > li .infoArea + .payDataWrap {padding-top: 13px}
.payDataList > li {padding: 6px 0}
.payDataList dl {display: table; width: 100%}
.payDataList dl dt, .payDataList dl dd {display: table-cell; font-size: 1.133rem}
.payDataList dl dd {width: 65%; text-align: right}
.payDataList .preTax dd {color: #ababab}

/* 급여명세서 전송하기 vwmr_slry_004 */
.tblPayStubWrap {padding-top: 10px}
.tblPayStubWrap thead th {padding-bottom: 15px; font-size: 1rem; font-weight: 600; border-bottom: 1px solid #c1c1c1}
.tblPayStubWrap tbody td {padding: 12px 0}
.tblPayStubWrap tbody td:nth-child(3) {font-size: 0.933rem}
.tblPayStubWrap tbody td .btnPreview img {width: 20px}
.tblPayStubWrap tbody td .badge {width: 100%; font-size: 0.866rem; border-radius: 3px;}

/* 급여명세서 미리보기 vwmr_slry_005 */
.busiDataList .total dl dt {color: #000; font-weight: 600}
.busiDataList .total dl dd {font-weight: 600}
h2.defTit .badge {vertical-align: middle; margin-bottom: 4px}
.calcLabor {border-bottom: 1px solid #f1f1f1}
.calcLabor > .accordionToggle {padding: 20px 0; color: #a8a8a8}
.calcLabor > .accordionToggle::after {width: 11px; background-image: url(../img/ico_ts_down_gray.png)}
.thanksToMsg {padding: 20px 0 25px;}
.thanksToMsg .store {margin: 8px 0 26px; font-size: 1.133rem; font-weight: 600}
.thanksToMsg .date.time {font-size: 1rem}
.thanksToMsg .rCont img {width: 82px}

/* 매출·매입 내역 vwmr_bill_001 */
.busiDataList .total + li {border-top: 1px solid #c1c1c1}

/* 계좌 상세보기 fin_acct_009 */
.collectDate {display: flex; align-items: center; justify-content: space-between}
.collectDate .areaTxt .tit {color: #4a4a4a; font-size: 1rem}
.collectDate .areaTxt .btnReload {display: flex; align-items: center}
.collectDate .areaTxt .btnReload img {width: 22px; margin-left: 8px}
.moveLink.bgGray {background-color: #f2f5f7; height: 33px; padding: 0 11px; margin: 0; border-radius: 7px}
.moveLink.bgGray span {font-size: 1rem}

/* 등록한 계좌, 카드 없을때 fin_acct_017 */
.moveLink .roundBoxWrap.type03 {flex: 1}
.moveLink .roundBoxWrap.type03 .roundBox {background: url(../img/ico_message_green.png) no-repeat right 16px center / 50px #f1fbf9; border-radius: 15px}
.moveLink .roundBoxWrap.type03 .roundBox .defTit {margin-top: 0}
.moveLink .roundBoxWrap.type03 .roundBox .defTxt02 {line-height: 1.38}

/* 원천세 납부 fin_tran_072 */
.busiInfoWrap .listDot > li .accTransferList {padding-left: 10px}
.busiInfoWrap .listDot > li .accTransferList li {padding: 5px 0}

/* 하이패스 sett_cert_002 */
.qnaList > li {padding: 20px 0;}
.qnaList > li:not(:last-child) {border-bottom: 1px solid #c8c8c8}
.qnaList > li .question {position: relative; padding-left: 20px; font-size: 0.933rem; font-weight: normal}
.qnaList > li .question::before {content: 'Q.'; position: absolute; left: 0; top: -2px}
.qnaList > li .areaAnswer {padding-left: 20px; padding-top: 8px}
.qnaList > li .areaAnswer .defTxt02 {word-break: keep-all}

/* 하이패스 sett_cert_005 */
.accList {border-top: 1px solid #c8c8c8; margin-top: 16px}
.accList > li {float: left; width: 33.3333%; margin-top: 15px}
.accList > li .infoArea .ico + .cont {padding-left: 6px}
.accList > li .infoArea.acc .ico i {width: 18px; height: 18px}
.accList > li .infoArea.card .ico i {width: 18px; height: 25px}

/* 하이패스 수집 sett_cert_010 */
.accCollectList {margin-bottom: 20px}
.accCollectList > li {padding: 7px 0}
.accCollectList > li.item {padding-top: 20px; margin-top: 13px; border-top: 1px solid #c8c8c8}
.accCollectList > li.item .confirmMsg {padding: 22px 0 0 0}
.collectWrap .rCont .figure {margin-right: 25px; font-weight: 600; font-size: 1.133rem}

/* 최초인증 user_join_001 */
.btnQm {display: flex; align-items: center}
.btnQm img {width: 15px; margin-left: 5px}

/* 약관팝업 sett_user_006 */
.popWrap.slidePop .formWrap .accordionToggle::after {width: 30px; height: 100%; right: 9.5px}
.popWrap.slidePop .formWrap .formHolder input[type="checkbox"] + label.check {padding-left: 54px}
.popWrap.slidePop .formWrap .formHolder label.check::before {left: 16px}
.popWrap.slidePop .formWrap .total .formHolder {margin-bottom: 15px; border-radius: 7px; border: 1px solid #dddfe1} 
.popWrap.slidePop .formWrap .total .formHolder label.check {padding: 18px 0; cursor: pointer}
.popWrap.slidePop .formWrap .cont {margin-bottom: 15px}
.popWrap.slidePop .formWrap .cont .formHolder {padding: 8px 0;}
.popWrap.slidePop .formWrap .cont .formHolder input[type="checkbox"] + label.check {width: fit-content; cursor: pointer}
.popWrap.slidePop .formWrap .cont .formHolder label.check::before {background-image: url(../img/ico_check.png); background-size: 15px; background-position: center}
.popWrap.slidePop .formWrap .cont .formHolder .btnView {position: absolute; right: 9.5px; top: 50%; transform: translateY(-50%); width: 30px; height: 100%; background: url(../img/ico_ts_right_gray.png) no-repeat center / 7px}
.popWrap.slidePop .formWrap .cont .formHolder.active label.check::before {background-image: url(../img/ico_check_on.png)}
.popWrap.slidePop .formWrap .formHolder.active {border-color: #12997a}

/* 계좌선택 팝업 fin_tran_005_1 */
.popWrap.slidePop .infoArea.acc .cont .txt .balance {font-size: 0.866rem; color: #8a8a8b}

/* 급여작성 직원선택팝업 tax_slry_005_1 */
.popWrap.slidePop .busiInfoWrap .listWrap .menu {padding: 23px 20px; border: 1px solid #000;}
.popWrap.slidePop .formWrap .total .formHolder input[type=radio] + label.check {width: 100%; padding: 18px 20px}
.popWrap.slidePop .formWrap .total .formHolder input[type=radio] + label.check::before {left: unset; right: 20px; background-image: url(../img/ico_radio.png)}
.popWrap.slidePop .formWrap .total .formHolder input[type=radio]:checked + label.check {color: #12997a}
.popWrap.slidePop .formWrap .total .formHolder input[type=radio]:checked + label.check::before {background-image: url(../img/ico_radio_on.png)}

/* 용도선택팝업 상호명 ellipsis */
label[for='rrnBackNum'] .ellipsis {display: inline-block; max-width: 60px; vertical-align: bottom}

/* 세무카페 tax_txcf_002 */
.tblTaxCafe .accListWrap .listWrap {margin-bottom: 0}
.tblTaxCafe .accListWrap .listWrap .infoArea .cont {max-width: 60%}

@media screen and (max-width: 320px) {
    .taxList .infoArea .rCont .badge + .moveLink {margin-top: 0}
}